input, select {
  padding: 4px 12px;
  border-radius: 2px;
  outline: none;
  border: 2px solid transparent;
  font-size: $small-font-size;
  color: $brand-black;
  &:focus {
    border-color: $brand-green;
  }
}

input[type="date"], input[type="number"] {
  text-align: right;
}

.date-range {
  width: 155px;
}

select {
  -moz-appearance:none;
  -webkit-appearance:none;
  background:#fff;
  box-shadow: none;
}

.single-date-picker {
  width: 90px;
  text-align: center;
  margin-right: 0;
}

.form-group {
  margin-top: 15px;
  margin-bottom: 15px;
}

p.form-control {
  background-color: $grey-1;
  color: $grey-6;
  border-color: transparent;
  box-shadow: none;
}